<!DOCTYPE html>
<html>
  {% include "head.html" %} {% load static %}

  <body>
    <script
      type="text/javascript"
      src="{% static '/js/overview.js' %}"
    ></script>

    {% include "header.html" %}
    <div class="container">
      <h1>
        Профессорско-преподавательский состав
        <a
          target="_blank"
          href="get_overview_pdf"
          class="mx-auto btn btn-outline-dark"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-printer"
            viewBox="0 0 16 16"
          >
            <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"></path>
            <path
              d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"
            ></path>
          </svg>
        </a>
      </h1>
      <div class="table-responsive mt-5">
        <table class="table table-hover table-bordered table-sm">
          <thead class="table-dark">
            <tr class="align-middle">
              <th rowspan="2" class="text-center" scope="col">PDF</th>
              <th rowspan="2" class="text-center" scope="col">Изменить</th>
              <th rowspan="2" class="text-center" scope="col">ФИО</th>
              <th rowspan="2" class="text-center" scope="col">Дата рождения</th>
              <th rowspan="2" class="text-center" scope="col">Телефон</th>
              <th rowspan="2" class="text-center" scope="col">
                Ученая степень
              </th>
              <th rowspan="2" class="text-center" scope="col">Ученое звание</th>
              <th rowspan="2" class="text-center" scope="col">Должность</th>
              <th rowspan="2" class="text-center" scope="col">Ставка</th>
              <th rowspan="2" class="text-center" scope="col">
                Нагрузка по ставке в год, час
              </th>
              <th rowspan="2" class="text-center" scope="col">
                Оклад по ставке в месяц, руб.
              </th>
              <th colspan="2" class="text-center" scope="col">
                Нагрузка в бакалавриате
              </th>
              <th colspan="2" class="text-center" scope="col">
                Нагрузка в магистратуре
              </th>
            </tr>
            <tr class="align-top">
              <th class="text-center" scope="col">Нечетные семестры</th>
              <th class="text-center" scope="col">Четные семестры</th>
              <th class="text-center" scope="col">Нечетные семестры</th>
              <th class="text-center" scope="col">Четные семестры</th>
            </tr>
          </thead>
          <tbody>
            {% for row in employees %}
            <tr class="align-middle" id="{{row.id}}">
              <div class="d-flex justify-content-center">
                <td>
                  <a
                    target="_blank"
                    href="get_person_pdf/{{row.id}}"
                    class="mx-auto btn btn-outline-dark"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-printer"
                      viewBox="0 0 16 16"
                    >
                      <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"></path>
                      <path
                        d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"
                      ></path>
                    </svg>
                  </a>
                </td>
              </div>
              <td>
                <div class="d-flex justify-content-center">
                  <button
                    onclick="set_modal_id(this,{{row.id}})"
                    hx-get="{% url 'edit_employee' %}"
                    hx-target="#edit_employee_dialog"
                    class="btn btn-outline-dark"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-pencil-square"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                      />
                    </svg>
                  </button>
                </div>
              </td>

              <td class="text-center">{{row.full_name}}</td>
              <td class="text-center">{{row.birth_date}}</td>
              <td class="text-center">
                {% if row.phone_number|length %} {{row.phone_number}} {% else %}
                Нет {% endif %}
              </td>
              <td class="text-center">{{row.degree}}</td>
              <td class="text-center">{{row.academic_title}}</td>
              <td class="text-center">{{row.position}}</td>
              <td class="text-center">{{row.rate}}</td>
              <td class="text-center">{{row.yearly_load}}</td>
              <td class="text-center">{{row.salary}}</td>
              <td class="text-center">{{row.bachelor_odd}}</td>
              <td class="text-center">{{row.bachelor_even}}</td>
              <td class="text-center">{{row.magistrate_odd}}</td>
              <td class="text-center">{{row.magistrate_even}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <button
        hx-get="{% url 'add_employee' %}"
        class="btn btn-primary"
        hx-target="#dialog"
      >
        Добавить
      </button>
    </div>
    <div id="modal" class="modal fade">
      <div id="dialog" class="modal-dialog modal-xl" hx-target="this"></div>
    </div>

    <div id="edit_employee_modal" class="modal fade">
      <div
        id="edit_employee_dialog"
        class="modal-dialog modal-xl"
        hx-target="this"
      ></div>
    </div>
    <script>
      function set_modal_id(element, id) {
        $("#edit_employee_modal").attr("person_id", id);
      }
      const modal = new bootstrap.Modal(document.getElementById("modal"));
      const edit_employee_modal = new bootstrap.Modal(
        document.getElementById("edit_employee_modal")
      );
      htmx.on("htmx:afterSwap", (e) => {
        if (e.detail.target.id == "dialog") {
          modal.show();
        }
        if (e.detail.target.id == "edit_employee_dialog") {
          edit_employee_modal.show();
        }
      });
    </script>
  </body>
</html>
