<!DOCTYPE html>
<html>
  {% include "head.html" %}
  <body>
    {% include "header.html" %}
    <div class="container">
      <h1>
        {{study_level}}
        <a
          target="_blank"
          href="get_study_level_pdf/{{study_level}}"
          class="mx-auto btn btn-outline-dark"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-printer"
            viewBox="0 0 16 16"
          >
            <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"></path>
            <path
              d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"
            ></path>
          </svg>
        </a>
      </h1>

      <div class="table-responsive mt-5">
        {% for subject_type,subject_name_data in subjects.items %}
        <h2 class="mb-5">{{subject_type}}</h2>
        <table class="table table-hover table-sm">
          <tbody>
            {% for subject_name,year_data in subject_name_data.items %}
            <tr>
              <td class="table-dark" colspan="2" style="text-align: center">
                <h3>{{subject_name}}</h3>
              </td>
            </tr>
            {% for year,group_data in year_data.items%}
            <tr>
              <td class="table-light" colspan="2">
                <h4>{{year}}</h4>
              </td>
            </tr>
            {% for group in group_data%}
            <tr>
              <td
                hx-get="/investigate_subject/{{subject_name}}/{{group}}"
                hx-target="#investigate_subject_dialog"
                colspan="2"
                onclick="set_modal_id(this,'{{subject_name}}','{{group}}')"
                style="cursor: pointer"
              >
                <h5>{{group}}</h5>
              </td>
            </tr>
            {%endfor%} {% endfor %}{% endfor %}
          </tbody>
        </table>
        <hr class="bg-dark border-3 border-top border-dark mt-5 mb-5" />
        {% endfor %}
      </div>
    </div>
    <div id="investigate_subject_modal" class="modal fade">
      <div
        id="investigate_subject_dialog"
        class="modal-dialog modal-lg"
        hx-target="this"
      ></div>
    </div>
  </body>

  <script>
    function set_modal_id(element, subject_name, group) {
      $("#investigate_subject_modal").attr("subject_name", subject_name);
      $("#investigate_subject_modal").attr("group", group);
    }
    const edit_employee_modal = new bootstrap.Modal(
      document.getElementById("investigate_subject_modal")
    );
    htmx.on("htmx:afterSwap", (e) => {
      if (e.detail.target.id == "investigate_subject_dialog") {
        edit_employee_modal.show();
      }
    });
  </script>
</html>
